@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(28, 28, 29);
  --background-start: rgb(245, 245, 243);
  --background-end: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: rgb(255, 255, 255);
    --background-start: rgb(28, 28, 29);
    --background-end: rgb(0, 0, 0);
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.min-h-navHeight {
  min-height: 3.125rem;
}
.pt-navHeight {
  padding-top: 3.125rem;
}
h1 {
  font-size: 2rem;
  padding: 2rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--background-end);
  text-transform: uppercase;
}
