@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background-start: #f7f7f7;
  --background-end: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background-start: #333333;
    --background-end: #000000;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, transparent, var(--background-end))
    var(--background-start);
  height: 100vh;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.min-h-navHeight {
  min-height: 3.125rem;
}
.pt-navHeight {
  padding-top: 3.125rem;
}
.max-w-container {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}
